@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family= Patua +One & display=swap');
*{
    margin: 0%;
    padding: 0%;
}
:root{
    --cor0: #29335c;
    --cor1: #ffc15e;
    --cor2: #f4faff;
    --cor3: #00a6a6;
    --cor4: #9a031e;
    --cor5: #4f6d7a;
    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "patua one", cursive;
}
header{
    font-family: var(--fonte-destaque);
    color: var(--cor2);
    
}
h2#nomeredes{
    text-align: left;
    margin: 10px;
}
section#redessociais{
    position:relative;
     background-image: linear-gradient(to left,  #29335c, #04229a);
    padding: 1px;
    font-size: .7em;
    text-align: center;
}
img#imgrede{
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
      
}
#imgrede:hover{
    padding: 1px;
    border: 2px solid #ffc15e ;
    transform: translate( -1px, -1px);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.733);
    transition: transform 0.4s, border .4s; 
}

section#comercio{
    background-image: linear-gradient(to left,  #29335c, #04229a);
    padding: 30px;
    text-align: center;
    }
    h1{
        text-align: left;
    }
    form{
        position: absolute;
        width: 230px;
        height: 29px;
        right: 41%;
        background: var(--cor3);height: 40px;
        border-radius: 40px;
        justify-content: center;
        display: flex;
        align-items: center;
        
        
    }
    .busca{
        width: 150px;
        height: 20px;
        left: 10px;
        border-radius: 10px;
        text-align: center;
        
         
         
      }
    .lupa{
        position: absolute;
        left: 87%;
        top: 32%;
        
        
        
       
        

    }
    
    nav{
        background-image: linear-gradient(to left,  #29335c, #04229a);
        display: block;
        color: #010206;
    }
    