@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family= Patua +One & display=swap');
*{
    margin: 0%;
    padding: 0%;
}
:root{
    --cor0: #212738;
    --cor1: #ffc15e;
    --cor2: #f4faff;
    --cor3: #00a6a6;
    --cor4: #9a031e;
    --cor5: #4f6d7a;
    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "patua one", cursive;
}
header{
    font-family: var(--fonte-destaque);
    color: var(--cor2);
}
section#redessociais{
background-color: var(--cor0);
padding: 10px;
font-size: .7em;
}
img#imgrede{
    
}
section#comercio{
    background-color: var(--cor0);
    padding: 20px;
    }